
<%= content_for :right_content do %>
    <% if !cookies.signed[:username].nil? %>
        <div id="user-panel">
            <div id="username"> <%= cookies.signed[:username] %> - <%= Score.get_score(cookies.signed[:id], cookies.signed[:username]).score %></div>
        </div>
        <div id="thin-divider"></div>
        <% for score in Score.order(:score).reverse %>
            <div class="scoreboard-item"> <%= score.username %> - <%= score.score %> </div>
        <% end %>
    <% end %>
<% end %>

<%= content_for :main_body do %>
    <link rel="stylesheet" href="/static/css/main.css">

    <% if cookies.signed[:username].nil? %>
        <form action="/alias" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <div class="title"> What is your alias? </div>
            <input type="text" name="username"></input>
            <div class="submit-field"><input type="submit" value="Submit"></input><input id="skip-button" type="submit" value="Skip"></input></div>
        </form>
    <% else %>
        <!--<form action="/submit_answer" method="post">-->
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
            <input name="song_id" type="hidden" value="<%= @random_song.id %>" />
            <div id="picture-item"><div id="plus-one" class="score-placement">+1</div><div id="minus-one" class="score-placement">-1</div></div>
            <div id="music-item">
                <audio id="audio-controls" controls <% if @game_started %> autoplay <% end %>>
                    <source src="<%= @random_song.music_file %>" type="audio/mpeg">
                    <embed height="50" width="100" src="<%= @random_song.music_file %>">
                </audio>
            </div>
            <input type="text" name="answer" id="autocomplete" autocomplete="off"/>
            <button id="mini-button"></button>
        <!--</form>-->

        <div id="clock"></div>
        <div id="skip">Skip</div>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
        <script src="/static/js/jquery.countdown/jquery.countdown.min.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <script>
            $("#autocomplete").focus();
            function request_answer() {
                $("#skip").hide();
                var formdata = new FormData();
                formdata.append("authenticity_token", "<%= form_authenticity_token %>");
                formdata.append("song_id", "<%= @random_song.id %>");

                $.ajax({
                    method: 'POST',
                    url: '/retrieve_answer',
                    data: formdata,
                    processData: false,
                    contentType: false,

                    success: function(data) {
                        var answer = "<div id='retrieved_answer'>" + data + "</div>";
                        $("#clock").html('Time up! The answer was: ' + answer);
                        $("#retrieved_answer").fadeIn(2000);
                        $("#picture-item").css("background", "url('<%= @random_song.image %>') center no-repeat");
                        $("#picture-item").css("background-size", "contain");
                        $("#minus-one").fadeIn(1000);
                        setTimeout(function() { location.reload(true)}, 2000);
                    },
                    error: function() {}
                });
            }

            $("#skip").click(function() {
                $("#clock").countdown('stop');
                request_answer();
            });
            $(document).ready(function() {
                $('#clock').countdown(new Date(new Date().getTime() + 35000)).on('update.countdown', function(event) {
                    var $this = $(this).html(event.strftime('%S'));
                }).on('finish.countdown', function(event) {
                    request_answer();
                });
                $(window).keyup(function (event) {
                    var search_value = $('#autocomplete').val();
                    var formdata = new FormData();
                    formdata.append("search", search_value);
                    formdata.append("authenticity_token", "<%= form_authenticity_token %>");

                    $.ajax({
                        method: 'POST',
                        url: '/autocomplete',
                        data: formdata,
                        processData: false,
                        contentType: false,

                        success: function(data) {
                            $( "#autocomplete" ).autocomplete({
                                source: data
                            });
                        },
                        error: function() {}
                    });
                });

                $("input[name='answer']").on('autocompletechange change select autocompleteselect', function () {
                    var answer = $(this).val();
                    console.log(answer);
                    var formdata = new FormData();
                    formdata.append("answer", answer);
                    formdata.append("authenticity_token", "<%= form_authenticity_token %>");
                    formdata.append("song_id", "<%= @random_song.id %>");

                    $.ajax({
                        method: 'POST',
                        url: '/submit_answer',
                        data: formdata,
                        processData: false,
                        contentType: false,

                        success: function(data) {
                            if(data == "Correct") {
                                $("#clock").countdown('stop');
                                $("#skip").hide();
                                $("#clock").html('Correct!');
                                $("#picture-item").css("background", "url('<%= @random_song.image %>') center no-repeat");
                                $("#picture-item").css("background-size", "contain");
                                $("#plus-one").fadeIn(1000);
                                setTimeout(function() { location.reload(true)}, 2000);
                            }
                        },
                        error: function() {}
                    });
                });

                function try_answer() {

                }
            });
        </script>
    <% end %>
<% end %>

