<!DOCTYPE html>
<html>
<head>
  <title>AnimeOpQuiz</title>
  <script type="text/javascript" src="/static/js/jquery.min.js"/>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
    <%= yield :main_body %>
</body>
</html>
